<content>
    <section class="header">
        <select
            *ngIf="!type || !title"
            class="column"
            [dir]="'rtl'"
            [ngModel]="column"
            (change)="setColumn(+columnSelect.value)"
            #columnSelect
        >
            <option *ngFor="let c of [1, 2, 3]" [value]="c">{{ c }}</option>
        </select>

        <select [dir]="'rtl'" (change)="setType(typeSelect.value)" #typeSelect>
            <option value="" [selected]="type === null"></option>
            <option *ngFor="let t of types; let index = index" [value]="t.type" [selected]="type === t.type">
                {{ index + 1 | number }}: {{ t.title }}
            </option>
        </select>
    </section>

    <section class="form" *ngIf="type && title">
        <app-input [inputs]="inputs"></app-input>
    </section>

    <section class="form" *ngIf="!type || !title">
        <ngx-form [ngxForm]="ngxForm" (ngxSubmit)="showValues($event)" #ngxFormComponent>
            <div class="comment">این متن در پایین فرم نمایش داده می‌شود.</div>
        </ngx-form>
    </section>
</content>
