<header>
    <section>
        <button mat-button [routerLink]="['/']">
            <mat-icon>navigate_before</mat-icon>
        </button>
        <div class="title">Responsive Form</div>
        @if (view) {
        <div class="view">view: {{ view }}</div>
        }
    </section>
</header>

<content>
    <ngx-form-responsive
        [ngxForm]="ngxForm"
        (ngxSubmit)="showValues('SUBMIT', $event)"
        (ngxChange)="showValues('CHANGE', $event)"
        (viewChange)="setView($event)"
    ></ngx-form-responsive>
</content>
