:host {
    display: block;

    header {
        display: block;
        background-color: rgb(29, 91, 116);

        position: sticky;
        top: 0;
        z-index: 10;

        section {
            display: flex;
            align-items: center;
            column-gap: 0.5rem;
            margin-bottom: 2rem;
            padding: 2rem;

            width: 1200px;
            max-width: 100vw;
            margin: 0 auto 2rem auto;

            mat-icon {
                font-size: 28px !important;
            }

            .title {
                flex: 1;

                color: #fff;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }

    content {
        display: block;

        width: 1200px;
        max-width: calc(100vw - 2rem);
        margin: 0 auto 2rem auto;
    }
}
